html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

input::-webkit-file-upload-button {
  font-family: sans-serif;
  cursor: pointer;
  border-radius: 0.3rem;
  border: 0;
  padding: 0.3rem;
  background: #48BB78;
  color: white;
  margin-top: 3px;
}